{"swagger":"2.0","info":{"title":"Sentio API","description":"Sentio Open API for query data","version":"version not set"},"host":"app.sentio.xyz","schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/api/v1/alerts/rule":{"post":{"summary":"Save an alert rule","operationId":"SaveAlertRule","responses":{"200":{"description":"A successful response.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/alert_service.SaveAlertRuleRequest"}}],"tags":["Alerts"]}},"/api/v1/alerts/rule/project/{projectId}":{"get":{"summary":"List all alert rules for a project","operationId":"GetAlertRules","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/alert_service.GetAlertRulesResponse"}}},"parameters":[{"name":"projectId","in":"path","required":true,"type":"string"}],"tags":["Alerts"]}},"/api/v1/alerts/rule/{id}":{"delete":{"summary":"Delete an alert rule","operationId":"DeleteAlertRule","responses":{"200":{"description":"A successful response.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"tags":["Alerts"]},"put":{"summary":"Save an alert rule","operationId":"SaveAlertRule2","responses":{"200":{"description":"A successful response.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/alert_service.AlertService.SaveAlertRuleBody"}}],"tags":["Alerts"]}},"/api/v1/alerts/{ruleId}":{"get":{"summary":"Find an alert rule by id, and list all alerts for this rule","operationId":"GetAlert","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/alert_service.GetAlertResponse"}}},"parameters":[{"name":"ruleId","in":"path","required":true,"type":"string"},{"name":"page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"}],"tags":["Alerts"]}},"/api/v1/analytics/{owner}/{slug}/sql/cancel_query/{executionId}":{"put":{"summary":"Cancel SQL Query","description":"Cancel a SQL query by execution_id.","operationId":"CancelSQLQuery","responses":{"200":{"description":"A successful response.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"owner","description":"username or organization name","in":"path","required":true,"type":"string"},{"name":"slug","description":"project slug","in":"path","required":true,"type":"string"},{"name":"executionId","in":"path","required":true,"type":"string"},{"name":"projectId","description":"use project id if project_owner and project_slug are not provided","in":"query","required":false,"type":"string"},{"name":"version","description":"version of the datasource, default to the active version if not provided","in":"query","required":false,"type":"integer","format":"int32"}],"tags":["Data"]}},"/api/v1/analytics/{owner}/{slug}/sql/execute":{"post":{"summary":"Execute SQL","description":"Execute SQL in a project. Go to \"Data Studio\" -> \"SQL Editor\", write your query and then click \"Export as cURL\"\n\n![screenshot](https://raw.githubusercontent.com/sentioxyz/docs/main/.gitbook/assets/image%20(102).png)\n\nFind more: https://docs.sentio.xyz/reference/data#sql-api","operationId":"ExecuteSQL","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/analytic_service.SyncExecuteSQLResponse"}}},"parameters":[{"name":"owner","description":"username or organization name","in":"path","required":true,"type":"string"},{"name":"slug","description":"project slug","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/analytic_service.AnalyticService.ExecuteSQLBody"}}],"tags":["Data"],"externalDocs":{"description":"find more information here","url":"https://docs.sentio.xyz/reference/data#sql-api"}}},"/api/v1/analytics/{owner}/{slug}/sql/execute/async":{"post":{"summary":"Execute SQL by Async","description":"Execute SQL in a project asynchronously.","operationId":"ExecuteSQLAsync","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/analytic_service.AsyncExecuteSQLResponse"}}},"parameters":[{"name":"owner","description":"username or organization name","in":"path","required":true,"type":"string"},{"name":"slug","description":"project slug","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/analytic_service.AnalyticService.ExecuteSQLAsyncBody"}}],"tags":["Data"]}},"/api/v1/analytics/{owner}/{slug}/sql/query_result/{executionId}":{"get":{"summary":"Query SQL Result","description":"Query the result of a SQL query by execution_id.","operationId":"QuerySQLResult","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/analytic_service.QuerySQLResultResponse"}}},"parameters":[{"name":"owner","description":"username or organization name","in":"path","required":true,"type":"string"},{"name":"slug","description":"project slug","in":"path","required":true,"type":"string"},{"name":"executionId","in":"path","required":true,"type":"string"},{"name":"projectId","description":"use project id if project_owner and project_slug are not provided","in":"query","required":false,"type":"string"},{"name":"version","description":"version of the datasource, default to the active version if not provided","in":"query","required":false,"type":"integer","format":"int32"}],"tags":["Data"]}},"/api/v1/analytics/{owner}/{slug}/sql/save":{"post":{"summary":"Save SQL","description":"Save or update a SQL query in a project.","operationId":"SaveSQL","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/analytic_service.SaveSQLResponse"}}},"parameters":[{"name":"owner","description":"username or organization name","in":"path","required":true,"type":"string"},{"name":"slug","description":"project slug","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/analytic_service.AnalyticService.SaveSQLBody"}}],"tags":["Data"]},"put":{"summary":"Save SQL","description":"Save or update a SQL query in a project.","operationId":"SaveSQL2","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/analytic_service.SaveSQLResponse"}}},"parameters":[{"name":"owner","description":"username or organization name","in":"path","required":true,"type":"string"},{"name":"slug","description":"project slug","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/analytic_service.AnalyticService.SaveSQLBody"}}],"tags":["Data"]}},"/api/v1/dashboards":{"get":{"summary":"List all dashboards in a project","operationId":"ListDashboards","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/web_service.GetDashboardResponse"}}},"parameters":[{"name":"dashboardId","description":"filter the dashboard by id","in":"query","required":false,"type":"string"},{"name":"projectId","description":"filter the dashboard by project id","in":"query","required":false,"type":"string"},{"name":"ownerName","description":"username or organization name","in":"query","required":false,"type":"string"},{"name":"slug","description":"project slug","in":"query","required":false,"type":"string"}],"tags":["Web"]}},"/api/v1/dashboards/json":{"post":{"summary":"Import a dashboard to another dashboard","operationId":"ImportDashboard","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/web_service.ImportDashboardResponse"}}},"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/web_service.ImportDashboardRequest"}}],"tags":["Web"]}},"/api/v1/dashboards/{dashboardId}":{"get":{"summary":"Get a dashboard by id","operationId":"GetDashboard","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/web_service.GetDashboardResponse"}}},"parameters":[{"name":"dashboardId","description":"filter the dashboard by id","in":"path","required":true,"type":"string"},{"name":"projectId","description":"filter the dashboard by project id","in":"query","required":false,"type":"string"},{"name":"ownerName","description":"username or organization name","in":"query","required":false,"type":"string"},{"name":"slug","description":"project slug","in":"query","required":false,"type":"string"}],"tags":["Web"]},"delete":{"summary":"Delete a dashboard by id","operationId":"DeleteDashboard","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/web_service.Dashboard"}}},"parameters":[{"name":"dashboardId","description":"filter the dashboard by id","in":"path","required":true,"type":"string"},{"name":"projectId","description":"filter the dashboard by project id","in":"query","required":false,"type":"string"},{"name":"ownerName","description":"username or organization name","in":"query","required":false,"type":"string"},{"name":"slug","description":"project slug","in":"query","required":false,"type":"string"}],"tags":["Web"]}},"/api/v1/dashboards/{dashboardId}/json":{"get":{"summary":"Export a dashboard to json","operationId":"ExportDashboard","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/web_service.ExportDashboardResponse"}}},"parameters":[{"name":"dashboardId","in":"path","required":true,"type":"string"}],"tags":["Web"]}},"/api/v1/eventlogs/{owner}/{slug}":{"post":{"summary":"Query event logs","operationId":"QueryLog","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/analytic_service.LogQueryResponse"}}},"parameters":[{"name":"owner","in":"path","required":true,"type":"string"},{"name":"slug","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/analytic_service.SearchService.QueryLogBody"}}],"tags":["Data"]}},"/api/v1/eventlogs/{owner}/{slug}/query":{"get":{"summary":"Query event logs","operationId":"QueryLog2","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/analytic_service.LogQueryResponse"}}},"parameters":[{"name":"owner","in":"path","required":true,"type":"string"},{"name":"slug","in":"path","required":true,"type":"string"},{"name":"projectId","in":"query","required":false,"type":"string"},{"name":"query","in":"query","required":false,"type":"string"},{"name":"timeRange.start.relativeTime.unit","in":"query","required":false,"type":"string"},{"name":"timeRange.start.relativeTime.value","in":"query","required":false,"type":"integer","format":"int32"},{"name":"timeRange.start.relativeTime.align","in":"query","required":false,"type":"string"},{"name":"timeRange.start.absoluteTime","in":"query","required":false,"type":"string","format":"int64"},{"name":"timeRange.end.relativeTime.unit","in":"query","required":false,"type":"string"},{"name":"timeRange.end.relativeTime.value","in":"query","required":false,"type":"integer","format":"int32"},{"name":"timeRange.end.relativeTime.align","in":"query","required":false,"type":"string"},{"name":"timeRange.end.absoluteTime","in":"query","required":false,"type":"string","format":"int64"},{"name":"timeRange.step","in":"query","required":false,"type":"string","format":"int64"},{"name":"timeRange.interval.value","in":"query","required":false,"type":"number","format":"double"},{"name":"timeRange.interval.unit","in":"query","required":false,"type":"string"},{"name":"timeRange.timezone","in":"query","required":false,"type":"string"},{"name":"limit","in":"query","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","required":false,"type":"integer","format":"int32"},{"name":"version","in":"query","required":false,"type":"integer","format":"int32"}],"tags":["Data"]}},"/api/v1/insights/coins":{"get":{"summary":"List coins","description":"Get a list of coins in a project.","operationId":"ListCoins2","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/insights_service.ListCoinsResponse"}}},"parameters":[{"name":"projectOwner","in":"query","required":false,"type":"string"},{"name":"projectSlug","in":"query","required":false,"type":"string"},{"name":"projectId","in":"query","required":false,"type":"string"},{"name":"version","in":"query","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","required":false,"type":"integer","format":"int32"},{"name":"searchQuery","in":"query","required":false,"type":"string"}],"tags":["Data"]}},"/api/v1/insights/{owner}/{slug}/coins":{"get":{"summary":"List coins","description":"Get a list of coins in a project.","operationId":"ListCoins","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/insights_service.ListCoinsResponse"}}},"parameters":[{"name":"owner","in":"path","required":true,"type":"string"},{"name":"slug","in":"path","required":true,"type":"string"},{"name":"projectId","in":"query","required":false,"type":"string"},{"name":"version","in":"query","required":false,"type":"integer","format":"int32"},{"name":"limit","in":"query","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","required":false,"type":"integer","format":"int32"},{"name":"searchQuery","in":"query","required":false,"type":"string"}],"tags":["Data"]}},"/api/v1/insights/{owner}/{slug}/query":{"post":{"summary":"Insight Query","description":"Query for metrics,event logs and coin prices in a project.","operationId":"Query","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/insights_service.QueryResponse"}}},"parameters":[{"name":"owner","description":"username or organization name","in":"path","required":true,"type":"string"},{"name":"slug","description":"project slug","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/insights_service.InsightsService.QueryBody"}}],"tags":["Data"]}},"/api/v1/metrics":{"get":{"summary":"Get a list of metrics in a project","operationId":"GetMetrics","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/metrics_service.GetMetricsResponse"}}},"parameters":[{"name":"projectId","in":"query","required":false,"type":"string"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"version","in":"query","required":false,"type":"integer","format":"int32"}],"tags":["Data"]}},"/api/v1/metrics/{owner}/{slug}/query":{"post":{"summary":"Metric instant queries","operationId":"QueryInstant","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/metrics_service.QueryValueResponse"}}},"parameters":[{"name":"owner","description":"username or organization name","in":"path","required":true,"type":"string"},{"name":"slug","description":"project slug","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/metrics_service.ObservabilityService.QueryBody"}}],"tags":["Data"]}},"/api/v1/metrics/{owner}/{slug}/query_range":{"post":{"summary":"Metric range queries","description":"The easiest way to build query is through UI, you could first create an insight chart, and then **Export as cURL**.\n\n![screenshot](https://raw.githubusercontent.com/sentioxyz/docs/main/.gitbook/assets/image%20(101).png)","operationId":"QueryRange","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/metrics_service.MetricsQueryResponse"}}},"parameters":[{"name":"owner","description":"username or organization name","in":"path","required":true,"type":"string"},{"name":"slug","description":"project slug","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/metrics_service.ObservabilityService.QueryRangeBody"}}],"tags":["Data"]}},"/api/v1/prices":{"get":{"summary":"Get price","description":"GetPrice returns the price of a given coin identifier, in a best effort way.\nIf we do not have any price data for the given coin, we will return NOT_FOUND error.\nIf we have at least one price data for the given coin, we will return it with the actual timestamp.\nClient is responsible for checking the timestamp and decide whether to use the price or not.","operationId":"GetPrice","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/price_service.GetPriceResponse"}}},"parameters":[{"name":"timestamp","description":"The timestamp we request the price at. Note, the price service may not have\nthe price at the exact timestamp, in which case it will return the price\nat the closest timestamp.","in":"query","required":false,"type":"string","format":"date-time"},{"name":"coinId.symbol","in":"query","required":false,"type":"string"},{"name":"coinId.address.address","in":"query","required":false,"type":"string"},{"name":"coinId.address.chain","in":"query","required":false,"type":"string"},{"name":"source","in":"query","required":false,"type":"string"}],"tags":["Price"]}},"/api/v1/prices/add_coin_by_gecko":{"post":{"summary":"Add coin by Gecko","description":"adds a coin by its coingecko id.\n\ncoingecko id the API ID of the coin in coingecko web page.\n\nplease AWARE that the coingecko id is NOT the same as the symbol of the coin.\n\n![screenshot](https://raw.githubusercontent.com/sentioxyz/docs/main/.gitbook/assets/coingecko_apiid.png)","operationId":"AddCoinByGecko","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/price_service.AddCoinByGeckoResponse"}}},"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/price_service.AddCoinByGeckoRequest"}}],"tags":["Price"]}},"/api/v1/prices/batch":{"post":{"summary":"Batch get prices","operationId":"BatchGetPrices","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/price_service.BatchGetPricesResponse"}}},"parameters":[{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/price_service.BatchGetPricesRequest"}}],"tags":["Price"]}},"/api/v1/prices/check_latest":{"get":{"summary":"Check latest price","operationId":"CheckLatestPrice","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/price_service.CheckLatestPriceResponse"}}},"tags":["Price"]}},"/api/v1/prices/coins":{"get":{"summary":"List coins","operationId":"PriceListCoins","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/price_service.ListCoinsResponse"}}},"parameters":[{"name":"limit","in":"query","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","required":false,"type":"integer","format":"int32"},{"name":"searchQuery","in":"query","required":false,"type":"string"},{"name":"chain","in":"query","required":false,"type":"string"}],"tags":["Price"]}},"/api/v1/processors/{owner}/{slug}/status":{"get":{"summary":"Get processor status","operationId":"GetProcessorStatusV2","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/processor_service.GetProcessorStatusResponse"}}},"parameters":[{"name":"owner","in":"path","required":true,"type":"string"},{"name":"slug","in":"path","required":true,"type":"string"},{"name":"version","description":" - ACTIVE: Only active version\n - PENDING: Only pending versions\n - ALL: All version","in":"query","required":false,"type":"string","enum":["ACTIVE","PENDING","ALL"],"default":"ACTIVE"}],"tags":["Processor"]}},"/api/v1/project/{owner}/{slug}":{"get":{"summary":"Get project details","operationId":"GetProject","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/web_service.GetProjectResponse"}}},"parameters":[{"name":"owner","description":"username or organization name","in":"path","required":true,"type":"string"},{"name":"slug","description":"project slug","in":"path","required":true,"type":"string"}],"tags":["Web"]}},"/api/v1/project/{projectId}":{"get":{"summary":"Get project details","operationId":"GetProjectById","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/common.ProjectInfo"}}},"parameters":[{"name":"projectId","in":"path","required":true,"type":"string"}],"tags":["Web"]}},"/api/v1/projects":{"get":{"summary":"Get project list","operationId":"GetProjectList","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/web_service.GetProjectListResponse"}}},"parameters":[{"name":"userId","in":"query","required":false,"type":"string"},{"name":"organizationId","in":"query","required":false,"type":"string"}],"tags":["Web"]}},"/api/v1/projects/{owner}/{slug}/dashboards":{"get":{"summary":"List all dashboards in a project","operationId":"ListDashboards2","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/web_service.GetDashboardResponse"}}},"parameters":[{"name":"owner","description":"username or organization name","in":"path","required":true,"type":"string"},{"name":"slug","description":"project slug","in":"path","required":true,"type":"string"},{"name":"dashboardId","description":"filter the dashboard by id","in":"query","required":false,"type":"string"},{"name":"projectId","description":"filter the dashboard by project id","in":"query","required":false,"type":"string"}],"tags":["Web"]}},"/api/v1/projects/{owner}/{slug}/dashboards/{dashboardId}":{"get":{"summary":"Get a dashboard by id","operationId":"GetDashboard2","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/web_service.GetDashboardResponse"}}},"parameters":[{"name":"owner","description":"username or organization name","in":"path","required":true,"type":"string"},{"name":"slug","description":"project slug","in":"path","required":true,"type":"string"},{"name":"dashboardId","description":"filter the dashboard by id","in":"path","required":true,"type":"string"},{"name":"projectId","description":"filter the dashboard by project id","in":"query","required":false,"type":"string"}],"tags":["Web"]}},"/api/v1/solidity/estimated_gas_price":{"get":{"summary":"Estimate gas price","operationId":"GetEstimatedGasPrice","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/solidity_service.GetEstimatedGasPriceResponse"}}},"parameters":[{"name":"chainId","description":"Current support chain id: 1","in":"query","required":false,"type":"string"}],"tags":["Debug and Simulation"]}},"/api/v1/solidity/{owner}/{slug}/fork":{"get":{"summary":"List all forks","operationId":"ListForks","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/solidity_service.ListForksResponse"}}},"parameters":[{"name":"owner","in":"path","required":true,"type":"string"},{"name":"slug","in":"path","required":true,"type":"string"}],"tags":["Forks"]},"post":{"summary":"Create a fork","operationId":"CreateFork","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/solidity_service.CreateForkResponse"}}},"parameters":[{"name":"owner","in":"path","required":true,"type":"string"},{"name":"slug","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/solidity_service.ForkService.CreateForkBody"}}],"tags":["Forks"]}},"/api/v1/solidity/{owner}/{slug}/fork/{forkId}/bundle/{bundleId}/call_trace":{"get":{"summary":"Get trace by bundle simulation","operationId":"GetCallTraceOnForkBundle","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/google.api.HttpBody"}}},"parameters":[{"name":"owner","in":"path","required":true,"type":"string"},{"name":"slug","in":"path","required":true,"type":"string"},{"name":"forkId","in":"path","required":true,"type":"string"},{"name":"bundleId","in":"path","required":true,"type":"string"},{"name":"withInternalCalls","description":"Fetch the decoded trace, which will give you the function info, decoded parameters of both external and internal call trace.","in":"query","required":false,"type":"boolean"},{"name":"disableOptimizer","description":"Disable optimizations to make internal calls more accurate, but gas costs will differ from the actual execution.","in":"query","required":false,"type":"boolean"},{"name":"ignoreGasCost","description":"Only effective when disableOptimizer=true.","in":"query","required":false,"type":"boolean"}],"tags":["Forks"]}},"/api/v1/solidity/{owner}/{slug}/fork/{forkId}/simulation":{"post":{"summary":"Run Simulation","operationId":"SimulateTransactionOnFork","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/solidity_service.SimulateTransactionResponse"}}},"parameters":[{"name":"owner","in":"path","required":true,"type":"string"},{"name":"slug","in":"path","required":true,"type":"string"},{"name":"forkId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/solidity_service.SolidityAPIService.SimulateTransactionOnForkBody"}}],"tags":["Forks"]}},"/api/v1/solidity/{owner}/{slug}/fork/{forkId}/simulation/{simulationId}/call_trace":{"get":{"summary":"Get trace by simulation","operationId":"GetCallTraceOnForkSimulation","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/google.api.HttpBody"}}},"parameters":[{"name":"owner","in":"path","required":true,"type":"string"},{"name":"slug","in":"path","required":true,"type":"string"},{"name":"forkId","in":"path","required":true,"type":"string"},{"name":"simulationId","in":"path","required":true,"type":"string"},{"name":"withInternalCalls","description":"Fetch the decoded trace, which will give you the function info, decoded parameters of both external and internal call trace.","in":"query","required":false,"type":"boolean"},{"name":"disableOptimizer","description":"Disable optimizations to make internal calls more accurate, but gas costs will differ from the actual execution.","in":"query","required":false,"type":"boolean"},{"name":"ignoreGasCost","description":"Only effective when disableOptimizer=true.","in":"query","required":false,"type":"boolean"}],"tags":["Forks"]}},"/api/v1/solidity/{owner}/{slug}/fork/{forkId}/simulation_bundle":{"post":{"summary":"Run bundle simulation","operationId":"SimulateTransactionBundleOnFork","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/solidity_service.SimulateTransactionBundleResponse"}}},"parameters":[{"name":"owner","in":"path","required":true,"type":"string"},{"name":"slug","in":"path","required":true,"type":"string"},{"name":"forkId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/solidity_service.SolidityAPIService.SimulateTransactionBundleOnForkBody"}}],"tags":["Forks"]}},"/api/v1/solidity/{owner}/{slug}/fork/{forkId}/transaction/{txHash}/call_trace":{"get":{"summary":"Get trace by transaction","operationId":"GetCallTraceOnForkTransaction","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/google.api.HttpBody"}}},"parameters":[{"name":"owner","in":"path","required":true,"type":"string"},{"name":"slug","in":"path","required":true,"type":"string"},{"name":"forkId","in":"path","required":true,"type":"string"},{"name":"txHash","in":"path","required":true,"type":"string"},{"name":"withInternalCalls","description":"Fetch the decoded trace, which will give you the function info, decoded parameters of both external and internal call trace.","in":"query","required":false,"type":"boolean"},{"name":"disableOptimizer","description":"Disable optimizations to make internal calls more accurate, but gas costs will differ from the actual execution.","in":"query","required":false,"type":"boolean"},{"name":"ignoreGasCost","description":"Only effective when disableOptimizer=true.","in":"query","required":false,"type":"boolean"}],"tags":["Forks"]}},"/api/v1/solidity/{owner}/{slug}/fork/{id}":{"get":{"summary":"Get fork by id","operationId":"GetFork","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/solidity_service.GetForkResponse"}}},"parameters":[{"name":"owner","in":"path","required":true,"type":"string"},{"name":"slug","in":"path","required":true,"type":"string"},{"name":"id","in":"path","required":true,"type":"string"}],"tags":["Forks"]},"delete":{"summary":"Delete fork by id","operationId":"DeleteFork","responses":{"200":{"description":"A successful response.","schema":{"type":"object","properties":{}}}},"parameters":[{"name":"owner","in":"path","required":true,"type":"string"},{"name":"slug","in":"path","required":true,"type":"string"},{"name":"id","in":"path","required":true,"type":"string"}],"tags":["Forks"]},"put":{"summary":"Update fork by id","operationId":"UpdateFork","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/solidity_service.UpdateForkResponse"}}},"parameters":[{"name":"owner","in":"path","required":true,"type":"string"},{"name":"slug","in":"path","required":true,"type":"string"},{"name":"id","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/solidity_service.ForkService.UpdateForkBody"}}],"tags":["Forks"]}},"/api/v1/solidity/{owner}/{slug}/fork/{id}/info":{"get":{"summary":"Get fork info by id","operationId":"GetForkInfo","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/solidity_service.GetForkInfoResponse"}}},"parameters":[{"name":"owner","in":"path","required":true,"type":"string"},{"name":"slug","in":"path","required":true,"type":"string"},{"name":"id","in":"path","required":true,"type":"string"}],"tags":["Forks"]}},"/api/v1/solidity/{owner}/{slug}/search_transactions":{"get":{"summary":"Search transactions","operationId":"SearchTransactions","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/txindex.EvmSearchTransactionsResponse"}}},"parameters":[{"name":"owner","in":"path","required":true,"type":"string"},{"name":"slug","in":"path","required":true,"type":"string"},{"name":"chainId","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"address","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"includeDirect","in":"query","required":false,"type":"boolean"},{"name":"includeTrace","in":"query","required":false,"type":"boolean"},{"name":"includeIn","in":"query","required":false,"type":"boolean"},{"name":"includeOut","in":"query","required":false,"type":"boolean"},{"name":"startBlock","in":"query","required":false,"type":"string","format":"int64"},{"name":"endBlock","in":"query","required":false,"type":"string","format":"int64"},{"name":"startTimestamp","in":"query","required":false,"type":"string","format":"int64"},{"name":"endTimestamp","in":"query","required":false,"type":"string","format":"int64"},{"name":"transactionStatus","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"methodSignature","in":"query","required":false,"type":"string"},{"name":"limit","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageToken","in":"query","required":false,"type":"string","format":"byte"}],"tags":["Debug and Simulation"]}},"/api/v1/solidity/{owner}/{slug}/simulation":{"get":{"summary":"Get list of simulations","operationId":"GetSimulations","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/solidity_service.GetSimulationsResponse"}}},"parameters":[{"name":"owner","in":"path","required":true,"type":"string"},{"name":"slug","in":"path","required":true,"type":"string"},{"name":"labelContains","in":"query","required":false,"type":"string"},{"name":"page","in":"query","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"}],"tags":["Debug and Simulation"]}},"/api/v1/solidity/{owner}/{slug}/simulation/{simulationId}":{"get":{"summary":"Get simulation by ID","operationId":"GetSimulation","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/solidity_service.GetSimulationResponse"}}},"parameters":[{"name":"owner","in":"path","required":true,"type":"string"},{"name":"slug","in":"path","required":true,"type":"string"},{"name":"simulationId","in":"path","required":true,"type":"string"}],"tags":["Debug and Simulation"]}},"/api/v1/solidity/{owner}/{slug}/simulation_bundle/{bundleId}":{"get":{"summary":"Get bundle simulation by ID","operationId":"GetSimulationBundleInProject","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/solidity_service.GetSimulationBundleResponse"}}},"parameters":[{"name":"owner","in":"path","required":true,"type":"string"},{"name":"slug","in":"path","required":true,"type":"string"},{"name":"bundleId","in":"path","required":true,"type":"string"}],"tags":["Debug and Simulation"]}},"/api/v1/solidity/{owner}/{slug}/{chainId}/bundle/{bundleId}/call_trace":{"get":{"summary":"Get trace by bundle simulation","operationId":"GetCallTraceByBundle","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/google.api.HttpBody"}}},"parameters":[{"name":"owner","in":"path","required":true,"type":"string"},{"name":"slug","in":"path","required":true,"type":"string"},{"name":"chainId","in":"path","required":true,"type":"string"},{"name":"bundleId","in":"path","required":true,"type":"string"},{"name":"withInternalCalls","description":"Fetch the decoded trace, which will give you the function info, decoded parameters of both external and internal call trace.","in":"query","required":false,"type":"boolean"},{"name":"disableOptimizer","description":"Disable optimizations to make internal calls more accurate, but gas costs will differ from the actual execution.","in":"query","required":false,"type":"boolean"},{"name":"ignoreGasCost","description":"Only effective when disableOptimizer=true.","in":"query","required":false,"type":"boolean"}],"tags":["Debug and Simulation"]}},"/api/v1/solidity/{owner}/{slug}/{chainId}/simulation":{"post":{"summary":"Run simulation","description":"Create a new transaction simulation. The simulation body should be included in the request body.\nYour simulations will be saved, and a unique ID for each simulation is included in the response. It will be useful for fetching simulation details.","operationId":"SimulateTransaction","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/solidity_service.SimulateTransactionResponse"}}},"parameters":[{"name":"owner","in":"path","required":true,"type":"string"},{"name":"slug","in":"path","required":true,"type":"string"},{"name":"chainId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/solidity_service.SolidityAPIService.SimulateTransactionBody"}}],"tags":["Debug and Simulation"]}},"/api/v1/solidity/{owner}/{slug}/{chainId}/simulation/{simulationId}/call_trace":{"get":{"summary":"Get trace by simulation","operationId":"GetCallTraceBySimulation","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/google.api.HttpBody"}}},"parameters":[{"name":"owner","in":"path","required":true,"type":"string"},{"name":"slug","in":"path","required":true,"type":"string"},{"name":"chainId","in":"path","required":true,"type":"string"},{"name":"simulationId","in":"path","required":true,"type":"string"},{"name":"withInternalCalls","description":"Fetch the decoded trace, which will give you the function info, decoded parameters of both external and internal call trace.","in":"query","required":false,"type":"boolean"},{"name":"disableOptimizer","description":"Disable optimizations to make internal calls more accurate, but gas costs will differ from the actual execution.","in":"query","required":false,"type":"boolean"},{"name":"ignoreGasCost","description":"Only effective when disableOptimizer=true.","in":"query","required":false,"type":"boolean"}],"tags":["Debug and Simulation"]}},"/api/v1/solidity/{owner}/{slug}/{chainId}/simulation_bundle":{"post":{"summary":"Run bundle simulation","description":"You could also create bundle simulations so that one transaction could be executed one after another. For `blockNumber` `transactionIndex` `networkId` `stateOverrides` and `blockOverrides` fields, only the first simulation takes effect.","operationId":"SimulateTransactionBundle","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/solidity_service.SimulateTransactionBundleResponse"}}},"parameters":[{"name":"owner","in":"path","required":true,"type":"string"},{"name":"slug","in":"path","required":true,"type":"string"},{"name":"chainId","in":"path","required":true,"type":"string"},{"name":"body","in":"body","required":true,"schema":{"$ref":"#/definitions/solidity_service.SolidityAPIService.SimulateTransactionBundleBody"}}],"tags":["Debug and Simulation"]}},"/api/v1/solidity/{owner}/{slug}/{chainId}/transaction/{txHash}/call_trace":{"get":{"summary":"Get trace by transaction","description":"API to get Sentio call trace. It takes `txId.txHash` and `chainSpec.chainId` arguments, where the first is transaction hash, and the second is the numeric ethereum chain ID.\n\nThe results looks very similar to the normal [Ethereum call trace](https://raw.githubusercontent.com/sentioxyz/docs/main/.gitbook/assets/image%20(2)%20(1)%20(1)%20(1).png). But we have an additional `startIndex` and `startIndex` on each trace entry even for the LOG, representing the execution order in the trace.\n\nThis allows you to build chart that marks the order of fund flow.\n\n![screenshot](https://raw.githubusercontent.com/sentioxyz/docs/main/.gitbook/assets/image%20(2)%20(1)%20(1)%20(1).png)","operationId":"GetCallTraceByTransaction","responses":{"200":{"description":"A successful response.","schema":{"$ref":"#/definitions/google.api.HttpBody"}}},"parameters":[{"name":"owner","in":"path","required":true,"type":"string"},{"name":"slug","in":"path","required":true,"type":"string"},{"name":"chainId","in":"path","required":true,"type":"string"},{"name":"txHash","in":"path","required":true,"type":"string"},{"name":"withInternalCalls","description":"Fetch the decoded trace, which will give you the function info, decoded parameters of both external and internal call trace.","in":"query","required":false,"type":"boolean"},{"name":"disableOptimizer","description":"Disable optimizations to make internal calls more accurate, but gas costs will differ from the actual execution.","in":"query","required":false,"type":"boolean"},{"name":"ignoreGasCost","description":"Only effective when disableOptimizer=true.","in":"query","required":false,"type":"boolean"}],"tags":["Debug and Simulation"]}}},"definitions":{"alert_service.Alert":{"type":"object","properties":{"id":{"type":"string"},"ruleId":{"type":"string"},"active":{"type":"boolean"},"query":{"type":"string"},"startTime":{"type":"string","format":"date-time"},"endTime":{"type":"string","format":"date-time"},"lastNotified":{"type":"string","format":"date-time"},"createState":{"$ref":"#/definitions/alert_service.Alert.AlertState"},"lastState":{"$ref":"#/definitions/alert_service.Alert.AlertState"}}},"alert_service.Alert.AlertState":{"type":"object","properties":{"condition":{"$ref":"#/definitions/alert_service.Condition"},"samples":{"type":"array","items":{"type":"object","$ref":"#/definitions/alert_service.Sample"}},"subject":{"type":"string"},"message":{"type":"string"},"logCondition":{"$ref":"#/definitions/alert_service.LogCondition"},"logSamples":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.EventLogEntry"}},"time":{"type":"string","format":"date-time"},"state":{"$ref":"#/definitions/alert_service.AlertRule.State"},"queryTimeRange":{"$ref":"#/definitions/common.TimeRangeLite"}}},"alert_service.AlertRule":{"type":"object","properties":{"id":{"type":"string"},"projectId":{"type":"string","title":"project it belongs to"},"state":{"$ref":"#/definitions/alert_service.AlertRule.State"},"subject":{"type":"string"},"message":{"type":"string"},"group":{"type":"string"},"query":{"type":"string"},"for":{"$ref":"#/definitions/common.Duration"},"channels":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.Channel"}},"updateTime":{"type":"string","format":"date-time"},"condition":{"$ref":"#/definitions/alert_service.Condition"},"renotifyDuration":{"$ref":"#/definitions/common.Duration"},"renotifyLimit":{"type":"integer","format":"int32"},"alertType":{"$ref":"#/definitions/alert_service.AlertType"},"logCondition":{"$ref":"#/definitions/alert_service.LogCondition"},"lastQueryTime":{"type":"string","format":"date-time"},"mute":{"type":"boolean"},"interval":{"$ref":"#/definitions/common.Duration"}}},"alert_service.AlertRule.State":{"type":"string","enum":["NO_DATA","FIRING","NORMAL"],"default":"NO_DATA"},"alert_service.AlertService.SaveAlertRuleBody":{"type":"object","properties":{"rule":{"type":"object","properties":{"projectId":{"type":"string","title":"project it belongs to"},"state":{"$ref":"#/definitions/alert_service.AlertRule.State"},"subject":{"type":"string"},"message":{"type":"string"},"group":{"type":"string"},"query":{"type":"string"},"for":{"$ref":"#/definitions/common.Duration"},"channels":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.Channel"}},"updateTime":{"type":"string","format":"date-time"},"condition":{"$ref":"#/definitions/alert_service.Condition"},"renotifyDuration":{"$ref":"#/definitions/common.Duration"},"renotifyLimit":{"type":"integer","format":"int32"},"alertType":{"$ref":"#/definitions/alert_service.AlertType"},"logCondition":{"$ref":"#/definitions/alert_service.LogCondition"},"lastQueryTime":{"type":"string","format":"date-time"},"mute":{"type":"boolean"},"interval":{"$ref":"#/definitions/common.Duration"}}}}},"alert_service.AlertType":{"type":"string","enum":["METRIC","LOG"],"default":"METRIC"},"alert_service.Condition":{"type":"object","properties":{"queries":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.Query"},"title":"to be deprecated"},"formula":{"$ref":"#/definitions/common.Formula"},"comparisonOp":{"type":"string"},"threshold":{"type":"number","format":"double"},"eventsQueries":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.SegmentationQuery"},"title":"to be deprecated"},"priceQueries":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.PriceSegmentationQuery"},"title":"to be deprecated"},"insightQueries":{"type":"array","items":{"type":"object","$ref":"#/definitions/alert_service.Condition.InsightQuery"}}}},"alert_service.Condition.InsightQuery":{"type":"object","properties":{"metricsQuery":{"$ref":"#/definitions/common.Query"},"eventsQuery":{"$ref":"#/definitions/common.SegmentationQuery"},"priceQuery":{"$ref":"#/definitions/common.PriceSegmentationQuery"},"sourceName":{"type":"string"}}},"alert_service.GetAlertResponse":{"type":"object","properties":{"alertRule":{"$ref":"#/definitions/alert_service.AlertRule"},"alerts":{"type":"array","items":{"type":"object","$ref":"#/definitions/alert_service.Alert"}},"mute":{"$ref":"#/definitions/alert_service.Mute"}}},"alert_service.GetAlertRulesResponse":{"type":"object","properties":{"rules":{"type":"array","items":{"type":"object","$ref":"#/definitions/alert_service.AlertRule"}}}},"alert_service.LogCondition":{"type":"object","properties":{"query":{"type":"string"},"comparisonOp":{"type":"string"},"threshold":{"type":"integer","format":"int32"}}},"alert_service.Mute":{"type":"object","properties":{"id":{"type":"string"},"ruleId":{"type":"string","title":"can be valid alert id or empty meanning match all alerts"},"group":{"type":"string","title":"if alert id is empty, then group could be used to select a list of alerts"},"active":{"type":"boolean","title":"unmute api will make it inactive"},"startTime":{"type":"string","format":"date-time"},"endTime":{"type":"string","format":"date-time"},"updateTime":{"type":"string","format":"date-time"}}},"alert_service.Sample":{"type":"object","properties":{"metric":{"type":"object","additionalProperties":{"type":"string"}},"value":{"type":"number","format":"double"},"timestamp":{"type":"string","format":"date-time"}}},"alert_service.SaveAlertRuleRequest":{"type":"object","properties":{"rule":{"$ref":"#/definitions/alert_service.AlertRule"}}},"analytic_service.AnalyticService.ExecuteSQLAsyncBody":{"type":"object","example":{"sqlQuery":{"sql":"SELECT uniq(distinct_id) FROM `Transfer`"}},"properties":{"projectId":{"type":"string","title":"use project id if project_owner and project_slug are not provided"},"version":{"type":"integer","format":"int32","title":"version of the datasource, default to the active version if not provided"},"sqlQuery":{"$ref":"#/definitions/analytic_service.SQLQuery"},"cursor":{"type":"string","title":"cursor for pagination"},"cachePolicy":{"$ref":"#/definitions/common.CachePolicy"}}},"analytic_service.AnalyticService.ExecuteSQLBody":{"type":"object","example":{"sqlQuery":{"sql":"SELECT uniq(distinct_id) FROM `Transfer`"}},"properties":{"projectId":{"type":"string","title":"use project id if project_owner and project_slug are not provided"},"version":{"type":"integer","format":"int32","title":"version of the datasource, default to the active version if not provided"},"sqlQuery":{"$ref":"#/definitions/analytic_service.SQLQuery"},"cursor":{"type":"string","title":"cursor for pagination"},"cachePolicy":{"$ref":"#/definitions/common.CachePolicy"}}},"analytic_service.AnalyticService.SaveSQLBody":{"type":"object","properties":{"projectId":{"type":"string","title":"use project id if project_owner and project_slug are not provided"},"version":{"type":"integer","format":"int32","title":"version of the datasource, default to the active version if not provided"},"sqlQuery":{"$ref":"#/definitions/analytic_service.SQLQuery"},"source":{"$ref":"#/definitions/analytic_service.Source"}}},"analytic_service.AsyncExecuteSQLResponse":{"type":"object","properties":{"queryId":{"type":"string"},"executionId":{"type":"string"},"queueLength":{"type":"integer","format":"int32"}}},"analytic_service.ExecutionInfo":{"type":"object","properties":{"queryId":{"type":"string"},"executionId":{"type":"string"},"status":{"$ref":"#/definitions/analytic_service.ExecutionStatus"},"scheduledAt":{"type":"string","format":"date-time"},"startedAt":{"type":"string","format":"date-time"},"finishedAt":{"type":"string","format":"date-time"},"result":{"$ref":"#/definitions/common.TabularData"},"error":{"type":"string"},"computeStats":{"$ref":"#/definitions/common.ComputeStats"},"processorVersion":{"type":"integer","format":"int32"}}},"analytic_service.ExecutionStatus":{"type":"string","enum":["PENDING","RUNNING","FINISHED","KILLED"],"default":"PENDING"},"analytic_service.LogQueryRequest.Filter":{"type":"object","properties":{"field":{"type":"string"},"value":{"type":"string"},"not":{"type":"boolean"}}},"analytic_service.LogQueryRequest.Sort":{"type":"object","properties":{"field":{"type":"string"},"desc":{"type":"boolean"}}},"analytic_service.LogQueryResponse":{"type":"object","properties":{"entries":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.EventLogEntry"}},"after":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.Any"},"title":"for pagination"},"total":{"type":"string","format":"int64"}}},"analytic_service.QuerySQLResultResponse":{"type":"object","properties":{"executionInfo":{"$ref":"#/definitions/analytic_service.ExecutionInfo"}}},"analytic_service.SQLQuery":{"type":"object","properties":{"sql":{"type":"string","title":"the sql query"},"size":{"type":"integer","format":"int32","title":"the limit of the query"},"parameters":{"$ref":"#/definitions/common.RichStruct","title":"the parameters of the query"},"name":{"type":"string","description":"the name of the query, if sql is empty and name not empty, the query will be fetched by the name."},"queryId":{"type":"string","description":"the id of the query, if sql and name both empty, the query will be fetched by the id."}}},"analytic_service.SaveSQLResponse":{"type":"object","properties":{"queryId":{"type":"string"}}},"analytic_service.SearchService.QueryLogBody":{"type":"object","properties":{"projectId":{"type":"string"},"query":{"type":"string"},"timeRange":{"$ref":"#/definitions/common.TimeRange"},"sorts":{"type":"array","items":{"type":"object","$ref":"#/definitions/analytic_service.LogQueryRequest.Sort"}},"after":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.Any"},"title":"for pagination"},"limit":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int32"},"filters":{"type":"array","items":{"type":"object","$ref":"#/definitions/analytic_service.LogQueryRequest.Filter"}},"version":{"type":"integer","format":"int32"}}},"analytic_service.Source":{"type":"string","enum":["SQL_EDITOR","DASHBOARD","ASYNC_TRIGGER","CURL","ENDPOINT"],"default":"SQL_EDITOR"},"analytic_service.SyncExecuteSQLResponse":{"type":"object","properties":{"runtimeCost":{"type":"string","format":"int64"},"result":{"$ref":"#/definitions/common.TabularData"},"error":{"type":"string"},"computeStats":{"$ref":"#/definitions/common.ComputeStats"}}},"common.Aggregate":{"type":"object","properties":{"op":{"$ref":"#/definitions/common.Aggregate.AggregateOps"},"grouping":{"type":"array","items":{"type":"string"}}}},"common.Aggregate.AggregateOps":{"type":"string","enum":["AVG","SUM","MIN","MAX","COUNT"],"default":"AVG"},"common.Any":{"type":"object","properties":{"intValue":{"type":"integer","format":"int32"},"longValue":{"type":"string","format":"int64"},"doubleValue":{"type":"number","format":"double"},"stringValue":{"type":"string"},"boolValue":{"type":"boolean"},"dateValue":{"type":"string","format":"date-time"},"listValue":{"$ref":"#/definitions/common.StringList"}}},"common.Argument":{"type":"object","properties":{"stringValue":{"type":"string"},"intValue":{"type":"integer","format":"int32"},"doubleValue":{"type":"number","format":"double"},"boolValue":{"type":"boolean"},"durationValue":{"$ref":"#/definitions/common.Duration"}}},"common.BigDecimal":{"type":"object","properties":{"value":{"$ref":"#/definitions/common.BigInteger"},"exp":{"type":"integer","format":"int32"}}},"common.BigInteger":{"type":"object","properties":{"negative":{"type":"boolean"},"data":{"type":"string","format":"byte"}}},"common.CachePolicy":{"type":"object","properties":{"cacheTtlSecs":{"type":"integer","format":"int32","title":"how long the cache will be stored before it is evicted"},"cacheRefreshTtlSecs":{"type":"integer","format":"int32","title":"how long the cache will be refreshed in the background"},"forceRefresh":{"type":"boolean","title":"force refresh the cache now"},"noCache":{"type":"boolean","title":"do not use cache"}}},"common.Channel":{"type":"object","properties":{"id":{"type":"string"},"projectId":{"type":"string"},"type":{"$ref":"#/definitions/common.Channel.Type"},"slackWebhookUrl":{"type":"string"},"emailAddress":{"type":"string"},"name":{"type":"string"},"customWebhookUrl":{"type":"string"},"customHeaders":{"type":"object","additionalProperties":{"type":"string"}},"telegramReference":{"type":"string"},"telegramChatId":{"type":"string"},"slackTeam":{"type":"string"},"slackChannel":{"type":"string"},"pagerdutyConfig":{"type":"object"}},"title":"TODO, finish this"},"common.Channel.Type":{"type":"string","enum":["UNKNOWN","EMAIL","SLACK","TELEGRAM","WEBHOOK","DISCORD","PAGERDUTY"],"default":"UNKNOWN"},"common.CohortsFilter":{"type":"object","properties":{"symbol":{"type":"boolean"},"name":{"type":"string"},"aggregation":{"$ref":"#/definitions/common.CohortsFilter.Aggregation"},"selectorExpr":{"$ref":"#/definitions/common.SelectorExpr"},"timeRange":{"$ref":"#/definitions/common.TimeRangeLite"}}},"common.CohortsFilter.Aggregation":{"type":"object","properties":{"total":{"$ref":"#/definitions/common.CohortsFilter.Aggregation.Total"},"aggregateProperties":{"$ref":"#/definitions/common.CohortsFilter.Aggregation.AggregateProperties"},"operator":{"$ref":"#/definitions/common.CohortsFilter.Aggregation.OperatorType"},"value":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.Any"}}}},"common.CohortsFilter.Aggregation.AggregateProperties":{"type":"object","properties":{"type":{"$ref":"#/definitions/common.CohortsFilter.Aggregation.AggregateProperties.AggregationType"},"propertyName":{"type":"string"}}},"common.CohortsFilter.Aggregation.AggregateProperties.AggregationType":{"type":"string","enum":["SUM","AVG","MEDIAN","MIN","MAX","DISTINCT_COUNT","LAST","FIRST"],"default":"SUM"},"common.CohortsFilter.Aggregation.OperatorType":{"type":"string","enum":["EQ","NEQ","GT","GTE","LT","LTE","BETWEEN","NOT_BETWEEN"],"default":"EQ"},"common.CohortsFilter.Aggregation.Total":{"type":"object"},"common.CohortsGroup":{"type":"object","properties":{"joinOperator":{"$ref":"#/definitions/common.JoinOperator"},"filters":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.CohortsFilter"}}}},"common.CohortsQuery":{"type":"object","properties":{"joinOperator":{"$ref":"#/definitions/common.JoinOperator","title":"not support THEN"},"groups":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.CohortsGroup"}},"name":{"type":"string"},"id":{"type":"string"}}},"common.CoinID":{"type":"object","properties":{"symbol":{"type":"string"},"address":{"$ref":"#/definitions/common.CoinID.AddressIdentifier"}}},"common.CoinID.AddressIdentifier":{"type":"object","properties":{"address":{"type":"string"},"chain":{"type":"string"}}},"common.ColumnState":{"type":"object","properties":{"columnSizing":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}},"columnVisibility":{"type":"object","additionalProperties":{"type":"boolean"}},"columnOrder":{"type":"array","items":{"type":"string"}},"sorting":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.ColumnState.Sort"}}}},"common.ColumnState.Sort":{"type":"object","properties":{"id":{"type":"string"},"desc":{"type":"boolean"}}},"common.ComputeStats":{"type":"object","properties":{"computedAt":{"type":"string","format":"date-time"},"computeCostMs":{"type":"string","format":"int64"},"binaryVersionHash":{"type":"string","format":"uint64"},"computedBy":{"type":"string"},"isCached":{"type":"boolean"},"isRefreshing":{"type":"boolean"}}},"common.Duration":{"type":"object","properties":{"value":{"type":"number","format":"double"},"unit":{"type":"string"}}},"common.ErrorRecord":{"type":"object","properties":{"id":{"type":"string"},"namespace":{"type":"integer","format":"int32"},"code":{"type":"integer","format":"int32","title":"same as google.rpc.status.Status.code"},"namespaceCode":{"type":"integer","format":"int32","title":"additional codes definted in the namespace"},"message":{"type":"string"},"createdAt":{"type":"string","format":"date-time","title":"details"}}},"common.EventLogColumn":{"type":"object","properties":{"id":{"type":"string"},"size":{"type":"integer","format":"int32"},"name":{"type":"string"},"accessorKey":{"type":"string"},"enableHiding":{"type":"boolean"},"enableSorting":{"type":"boolean"},"enableResizing":{"type":"boolean"}}},"common.EventLogConfig":{"type":"object","properties":{"columns":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.EventLogColumn"}},"state":{"$ref":"#/definitions/common.ColumnState"}}},"common.EventLogEntry":{"type":"object","properties":{"message":{"type":"string"},"timestamp":{"type":"string","format":"int64"},"logLevel":{"type":"string"},"logType":{"type":"string"},"contractName":{"type":"string"},"contractAddress":{"type":"string"},"blockNumber":{"type":"string","format":"uint64"},"chainId":{"type":"string"},"attributes":{"type":"object"},"id":{"type":"string"},"transactionHash":{"type":"string"},"highlightedMessage":{"type":"string"},"distinctId":{"type":"string"},"eventName":{"type":"string"},"logIndex":{"type":"integer","format":"int32"},"transactionIndex":{"type":"integer","format":"int32"}}},"common.Formula":{"type":"object","example":{"expression":"sum(a)+sum(b)"},"properties":{"expression":{"type":"string"},"alias":{"type":"string","title":"bool enabled = 2;"},"id":{"type":"string"},"disabled":{"type":"boolean"},"functions":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.Function"}}},"description":"the formula to combine multiple queries","title":"formula"},"common.Function":{"type":"object","properties":{"name":{"type":"string"},"arguments":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.Argument"}}}},"common.JoinOperator":{"type":"string","enum":["AND","OR","THEN"],"default":"AND"},"common.Matrix":{"type":"object","properties":{"samples":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.Matrix.Sample"}},"totalSamples":{"type":"integer","format":"int32"}}},"common.Matrix.Metric":{"type":"object","properties":{"name":{"type":"string"},"labels":{"type":"object","additionalProperties":{"type":"string"}},"displayName":{"type":"string"}}},"common.Matrix.Sample":{"type":"object","properties":{"metric":{"$ref":"#/definitions/common.Matrix.Metric"},"values":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.Matrix.Value"}}}},"common.Matrix.Value":{"type":"object","properties":{"timestamp":{"type":"string","format":"int64"},"value":{"type":"number","format":"double"}}},"common.Organization":{"type":"object","properties":{"id":{"type":"string"},"oid":{"type":"string"},"name":{"type":"string"},"createdAt":{"type":"string","format":"int64"},"updatedAt":{"type":"string","format":"int64"},"members":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.Organization.Member"}},"displayName":{"type":"string"},"logoUrl":{"type":"string"},"projects":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.ProjectInfo"}},"tier":{"$ref":"#/definitions/common.Tier"}}},"common.Organization.Member":{"type":"object","properties":{"user":{"$ref":"#/definitions/common.UserInfo"},"role":{"$ref":"#/definitions/common.OrganizationRole"}}},"common.OrganizationRole":{"type":"string","enum":["ORG_MEMBER","ORG_ADMIN"],"default":"ORG_MEMBER"},"common.Owner":{"type":"object","properties":{"user":{"$ref":"#/definitions/common.User"},"organization":{"$ref":"#/definitions/common.Organization"},"tier":{"$ref":"#/definitions/common.Tier"}}},"common.Permission":{"type":"string","enum":["READ","WRITE","ADMIN"],"default":"READ"},"common.PriceSegmentationQuery":{"type":"object","properties":{"id":{"type":"string"},"alias":{"type":"string"},"coinId":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.CoinID"}},"disabled":{"type":"boolean"}}},"common.Project":{"type":"object","properties":{"id":{"type":"string"},"displayName":{"type":"string"},"description":{"type":"string"},"createdAt":{"type":"string","format":"int64"},"updatedAt":{"type":"string","format":"int64"},"slug":{"type":"string","title":"{ownerName}/{slug} is the unique name of the project"},"ownerId":{"type":"string"},"owner":{"$ref":"#/definitions/common.Owner"},"visibility":{"$ref":"#/definitions/common.Project.Visibility"},"type":{"$ref":"#/definitions/common.Project.Type"},"members":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.Project.ProjectMember"}},"multiVersion":{"type":"boolean"},"ownerName":{"type":"string"},"notificationChannels":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.Channel"}},"views":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.ProjectView"}},"supersetEnable":{"type":"boolean"},"superset":{"$ref":"#/definitions/common.ProjectSuperset"},"enableDisk":{"type":"boolean"},"enableMaterializedView":{"type":"boolean"},"defaultTimerange":{"$ref":"#/definitions/common.TimeRangeLite"}}},"common.Project.ProjectMember":{"type":"object","properties":{"user":{"$ref":"#/definitions/common.UserInfo"},"role":{"type":"string"}}},"common.Project.Type":{"type":"string","enum":["SENTIO","SUBGRAPH","ACTION"],"default":"SENTIO"},"common.Project.Visibility":{"type":"string","enum":["PUBLIC","PRIVATE"],"default":"PUBLIC"},"common.ProjectInfo":{"type":"object","properties":{"id":{"type":"string"},"displayName":{"type":"string"},"description":{"type":"string"},"createdAt":{"type":"string","format":"int64"},"updatedAt":{"type":"string","format":"int64"},"slug":{"type":"string"},"owner":{"type":"string"},"visibility":{"$ref":"#/definitions/common.Project.Visibility"},"type":{"$ref":"#/definitions/common.Project.Type"},"multiVersion":{"type":"boolean"},"supersetEnable":{"type":"boolean"},"superset":{"$ref":"#/definitions/common.ProjectSuperset"},"enableDisk":{"type":"boolean"},"enableMaterializedView":{"type":"boolean"},"defaultTimerange":{"$ref":"#/definitions/common.TimeRangeLite"}}},"common.ProjectSuperset":{"type":"object","properties":{"projectId":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"syncAt":{"type":"string","format":"date-time"}}},"common.ProjectVariables":{"type":"object","properties":{"projectId":{"type":"string"},"variables":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.ProjectVariables.Variable"}}}},"common.ProjectVariables.Variable":{"type":"object","properties":{"key":{"type":"string"},"value":{"type":"string"},"isSecret":{"type":"boolean"},"updatedAt":{"type":"string","format":"date-time"}}},"common.ProjectView":{"type":"object","properties":{"id":{"type":"string"},"projectId":{"type":"string"},"name":{"type":"string"},"config":{"$ref":"#/definitions/common.ProjectView.ProjectViewConfig"}}},"common.ProjectView.ProjectViewConfig":{"type":"object","properties":{"eventLog":{"$ref":"#/definitions/common.EventLogConfig"}}},"common.Query":{"type":"object","example":{"query":"transfer_sum","alias":"transfer (24h)","id":"a","labelSelector":{},"aggregate":null,"functions":[{"name":"rollup_sum","arguments":[{"durationValue":{"value":1,"unit":"d"}}]}],"disabled":false},"properties":{"query":{"type":"string","title":"the promql query or the metric name"},"alias":{"type":"string","title":"the alias of the query"},"id":{"type":"string","title":"the id of the query"},"labelSelector":{"type":"object","additionalProperties":{"type":"string"}},"aggregate":{"$ref":"#/definitions/common.Aggregate"},"functions":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.Function"}},"disabled":{"type":"boolean","title":"hide the result, usually used for formula, default is false"}},"description":"the query to fetch metrics data, promql","title":"Metrics query","externalDocs":{"description":"Find more about prometheus query language here.","url":"https://prometheus.io/docs/prometheus/latest/querying/basics/"}},"common.RetentionQuery":{"type":"object","properties":{"resources":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.RetentionQuery.Resource"},"title":"only support 2 resources"},"criteria":{"$ref":"#/definitions/common.RetentionQuery.Criteria"},"interval":{"$ref":"#/definitions/common.RetentionQuery.Interval"},"selectorExpr":{"$ref":"#/definitions/common.SelectorExpr"},"groupBy":{"type":"array","items":{"type":"string"}},"segmentBy":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.SegmentParameter"}},"windowSize":{"type":"integer","format":"int32"}}},"common.RetentionQuery.Criteria":{"type":"string","enum":["OnOrAfter","On"],"default":"OnOrAfter"},"common.RetentionQuery.Filter":{"type":"object","properties":{"propertyFilter":{"$ref":"#/definitions/common.SelectorExpr"},"timeFilter":{"$ref":"#/definitions/common.RetentionQuery.Filter.TimeFilter"}}},"common.RetentionQuery.Filter.TimeFilter":{"type":"object","properties":{"type":{"$ref":"#/definitions/common.RetentionQuery.Filter.TimeFilter.Type"}}},"common.RetentionQuery.Filter.TimeFilter.Type":{"type":"string","enum":["Disable","FirstInTimeRange","FirstInGlobal"],"default":"Disable"},"common.RetentionQuery.Interval":{"type":"object","properties":{"value":{"type":"integer","format":"int32"},"unit":{"$ref":"#/definitions/common.RetentionQuery.Interval.Unit"}}},"common.RetentionQuery.Interval.Unit":{"type":"string","enum":["Day","Week","Month"],"default":"Day"},"common.RetentionQuery.Resource":{"type":"object","properties":{"eventNames":{"type":"array","items":{"type":"string"}},"filter":{"$ref":"#/definitions/common.RetentionQuery.Filter"}}},"common.RichStruct":{"type":"object","properties":{"fields":{"type":"object","additionalProperties":{"$ref":"#/definitions/common.RichValue"}}}},"common.RichValue":{"type":"object","properties":{"nullValue":{"$ref":"#/definitions/common.RichValue.NullValue"},"intValue":{"type":"integer","format":"int32"},"floatValue":{"type":"number","format":"double"},"bytesValue":{"type":"string","format":"byte"},"boolValue":{"type":"boolean"},"stringValue":{"type":"string"},"timestampValue":{"type":"string","format":"date-time"},"bigintValue":{"$ref":"#/definitions/common.BigInteger"},"bigdecimalValue":{"$ref":"#/definitions/common.BigDecimal"},"listValue":{"$ref":"#/definitions/common.RichValueList"},"structValue":{"$ref":"#/definitions/common.RichStruct"},"tokenValue":{"$ref":"#/definitions/common.TokenAmount"}}},"common.RichValue.NullValue":{"type":"string","enum":["NULL_VALUE"],"default":"NULL_VALUE"},"common.RichValueList":{"type":"object","properties":{"values":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.RichValue"}}}},"common.SegmentParameter":{"type":"object","properties":{"cohortId":{"type":"string"},"allUsers":{"type":"boolean"}}},"common.SegmentationQuery":{"type":"object","properties":{"resource":{"$ref":"#/definitions/common.SegmentationQuery.Resource"},"alias":{"type":"string"},"id":{"type":"string"},"aggregation":{"$ref":"#/definitions/common.SegmentationQuery.Aggregation"},"selectorExpr":{"$ref":"#/definitions/common.SegmentationQuery.SelectorExpr"},"groupBy":{"type":"array","items":{"type":"string"}},"limit":{"type":"integer","format":"int32"},"functions":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.Function"}},"disabled":{"type":"boolean"}}},"common.SegmentationQuery.Aggregation":{"type":"object","properties":{"total":{"$ref":"#/definitions/common.SegmentationQuery.Aggregation.Total"},"unique":{"$ref":"#/definitions/common.SegmentationQuery.Aggregation.Unique"},"countUnique":{"$ref":"#/definitions/common.SegmentationQuery.Aggregation.CountUnique"},"aggregateProperties":{"$ref":"#/definitions/common.SegmentationQuery.Aggregation.AggregateProperties"}}},"common.SegmentationQuery.Aggregation.AggregateProperties":{"type":"object","properties":{"type":{"$ref":"#/definitions/common.SegmentationQuery.Aggregation.AggregateProperties.AggregationType"},"propertyName":{"type":"string"}}},"common.SegmentationQuery.Aggregation.AggregateProperties.AggregationType":{"type":"string","enum":["SUM","CUMULATIVE_SUM","AVG","MEDIAN","MIN","MAX","DISTINCT_COUNT","CUMULATIVE_DISTINCT_COUNT","CUMULATIVE_COUNT","LAST","CUMULATIVE_LAST","FIRST","CUMULATIVE_FIRST","PERCENTILE_25TH","PERCENTILE_75TH","PERCENTILE_90TH","PERCENTILE_95TH","PERCENTILE_99TH"],"default":"SUM"},"common.SegmentationQuery.Aggregation.CountUnique":{"type":"object","properties":{"duration":{"$ref":"#/definitions/common.Duration"}}},"common.SegmentationQuery.Aggregation.Total":{"type":"object"},"common.SegmentationQuery.Aggregation.Unique":{"type":"object"},"common.SegmentationQuery.Resource":{"type":"object","properties":{"name":{"type":"string"},"type":{"$ref":"#/definitions/common.SegmentationQuery.ResourceType"},"cohortsId":{"type":"string"},"cohortsQuery":{"$ref":"#/definitions/common.CohortsQuery"}}},"common.SegmentationQuery.ResourceType":{"type":"string","enum":["EVENTS","COHORTS"],"default":"EVENTS"},"common.SegmentationQuery.SelectorExpr":{"type":"object","properties":{"selector":{"$ref":"#/definitions/common.Selector"},"logicExpr":{"$ref":"#/definitions/common.SegmentationQuery.SelectorExpr.LogicExpr"}}},"common.SegmentationQuery.SelectorExpr.LogicExpr":{"type":"object","properties":{"expressions":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.SegmentationQuery.SelectorExpr"}},"operator":{"$ref":"#/definitions/common.JoinOperator","title":"default is AND"}}},"common.Selector":{"type":"object","properties":{"key":{"type":"string"},"operator":{"$ref":"#/definitions/common.Selector.OperatorType"},"value":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.Any"}}},"title":"TODO maybe MetricQuery should use this as well"},"common.Selector.OperatorType":{"type":"string","enum":["EQ","NEQ","EXISTS","NOT_EXISTS","GT","GTE","LT","LTE","BETWEEN","NOT_BETWEEN","CONTAINS","NOT_CONTAINS","IN_COHORTS","NOT_IN_COHORTS"],"default":"EQ","description":"- GT: Numeric operators\n - CONTAINS: String operators","title":"TODO add Date Value and List Value and its data type"},"common.SelectorExpr":{"type":"object","properties":{"selector":{"$ref":"#/definitions/common.Selector"},"logicExpr":{"$ref":"#/definitions/common.SelectorExpr.LogicExpr"}},"title":"TODO migrate segmentationQuery to use this"},"common.SelectorExpr.LogicExpr":{"type":"object","properties":{"expressions":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.SelectorExpr"}},"operator":{"$ref":"#/definitions/common.JoinOperator","title":"default is AND"}}},"common.StringList":{"type":"object","properties":{"values":{"type":"array","items":{"type":"string"},"title":"JoinOperator operator = 2; // this field should implement in the future"}}},"common.TabularData":{"type":"object","properties":{"columns":{"type":"array","items":{"type":"string"}},"columnTypes":{"type":"object","additionalProperties":{"$ref":"#/definitions/common.TabularData.ColumnType"}},"rows":{"type":"array","items":{"type":"object"}},"generatedAt":{"type":"string","format":"date-time"},"cursor":{"type":"string"}}},"common.TabularData.ColumnType":{"type":"string","enum":["STRING","NUMBER","BOOLEAN","LIST","TIME","MAP"],"default":"STRING"},"common.Tier":{"type":"string","enum":["FREE","DEV","PRO","ENTERPRISE","ANONYMOUS"],"default":"FREE"},"common.TimeRange":{"type":"object","properties":{"start":{"$ref":"#/definitions/common.TimeRange.TimeLike"},"end":{"$ref":"#/definitions/common.TimeRange.TimeLike"},"step":{"type":"string","format":"int64"},"interval":{"$ref":"#/definitions/common.Duration","title":"TODO remove step in favor of interval"},"timezone":{"type":"string"}}},"common.TimeRange.RelativeTime":{"type":"object","properties":{"unit":{"type":"string"},"value":{"type":"integer","format":"int32"},"align":{"type":"string"}}},"common.TimeRange.TimeLike":{"type":"object","properties":{"relativeTime":{"$ref":"#/definitions/common.TimeRange.RelativeTime"},"absoluteTime":{"type":"string","format":"int64"}}},"common.TimeRangeLite":{"type":"object","example":{"start":"now-1M","end":"now","step":86400,"timezone":"Europe/London"},"properties":{"start":{"type":"string"},"end":{"type":"string"},"step":{"type":"integer","format":"int32","title":"interval in seconds between each data point"},"timezone":{"type":"string"}},"description":"start and end time of the time range, Find more: https://docs.sentio.xyz/reference/data#time-range-configuration-guide","title":"Time range","externalDocs":{"description":"Find more about time range here.","url":"https://docs.sentio.xyz/reference/data#time-range-configuration-guide"},"required":["start","end","step"]},"common.TokenAmount":{"type":"object","properties":{"token":{"$ref":"#/definitions/common.CoinID"},"amount":{"$ref":"#/definitions/common.BigDecimal"},"specifiedAt":{"type":"string","format":"date-time","title":"optional, if not specified, it will use block_time in eventlogs"}}},"common.User":{"type":"object","properties":{"id":{"type":"string"},"email":{"type":"string"},"emailVerified":{"type":"boolean"},"lastName":{"type":"string"},"firstName":{"type":"string"},"locale":{"type":"string"},"nickname":{"type":"string"},"picture":{"type":"string"},"sub":{"type":"string"},"updatedAt":{"type":"string","format":"int64"},"createdAt":{"type":"string","format":"int64"},"username":{"type":"string"},"accountStatus":{"$ref":"#/definitions/common.User.AccountStatus"},"tier":{"$ref":"#/definitions/common.Tier"}}},"common.User.AccountStatus":{"type":"string","enum":["PENDING","SET_USERNAME","BANNED","ACTIVE"],"default":"PENDING"},"common.UserInfo":{"type":"object","properties":{"id":{"type":"string"},"lastName":{"type":"string"},"firstName":{"type":"string"},"nickname":{"type":"string"},"picture":{"type":"string"},"username":{"type":"string"}},"description":"The same to user but with sensitive data removed."},"evm.AccessListItem":{"type":"object","properties":{"address":{"type":"string"},"storageKeys":{"type":"array","items":{"type":"string"}}}},"evm.Transaction":{"type":"object","properties":{"blockNumber":{"type":"string"},"blockHash":{"type":"string"},"transactionIndex":{"type":"string"},"hash":{"type":"string"},"chainId":{"type":"string"},"type":{"type":"string"},"from":{"type":"string"},"to":{"type":"string"},"input":{"type":"string"},"value":{"type":"string"},"nonce":{"type":"string"},"gas":{"type":"string"},"gasPrice":{"type":"string"},"maxFeePerGas":{"type":"string"},"maxPriorityFeePerGas":{"type":"string"},"accessList":{"type":"array","items":{"type":"object","$ref":"#/definitions/evm.AccessListItem"}}}},"evm.TransactionReceipt":{"type":"object","properties":{"gasUsed":{"type":"string"},"cumulativeGasUsed":{"type":"string"},"effectiveGasPrice":{"type":"string"},"status":{"type":"string","title":"0x0: failed, 0x1: succeed"},"error":{"type":"string"},"revertReason":{"type":"string"},"logs":{"type":"array","items":{"type":"object"}}}},"google.api.HttpBody":{"type":"object","properties":{"contentType":{"type":"string"},"data":{"type":"string","format":"byte"},"extensions":{"type":"array","items":{"type":"object","$ref":"#/definitions/google.protobuf.Any"}}}},"google.protobuf.Any":{"type":"object","properties":{"@type":{"type":"string"}},"additionalProperties":{}},"google.protobuf.NullValue":{"type":"string","enum":["NULL_VALUE"],"default":"NULL_VALUE"},"insights_service.DataSource":{"type":"string","enum":["METRICS","EVENTS","PRICE","FORMULA","COHORTS","SYSTEM_SQL"],"default":"METRICS"},"insights_service.InsightsService.QueryBody":{"type":"object","properties":{"projectId":{"type":"string","title":"use project id if project_owner and project_slug are not provided"},"version":{"type":"integer","format":"int32","title":"version of the datasource, default to the active version if not provided"},"timeRange":{"$ref":"#/definitions/common.TimeRangeLite"},"queries":{"type":"array","items":{"type":"object","$ref":"#/definitions/insights_service.QueryRequest.Query"}},"formulas":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.Formula"}},"limit":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int32"},"bypassCache":{"type":"boolean","title":"deprecated, use cachePolicy instead"},"cachePolicy":{"$ref":"#/definitions/common.CachePolicy"}}},"insights_service.ListCoinsResponse":{"type":"object","properties":{"coins":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.CoinID"}},"computeStats":{"$ref":"#/definitions/common.ComputeStats"}}},"insights_service.QueryRequest.Query":{"type":"object","properties":{"metricsQuery":{"$ref":"#/definitions/common.Query","title":"Query for metrics"},"eventsQuery":{"$ref":"#/definitions/common.SegmentationQuery","title":"Query for event logs"},"priceQuery":{"$ref":"#/definitions/common.PriceSegmentationQuery","title":"Query for coin prices"},"dataSource":{"$ref":"#/definitions/insights_service.DataSource","title":"type of the data, can be METRICS, EVENTS, PRICE, FORMULA, COHORTS"},"sourceName":{"type":"string","title":"source name for the query, used when data is from a external project"}}},"insights_service.QueryResponse":{"type":"object","properties":{"results":{"type":"array","items":{"type":"object","$ref":"#/definitions/insights_service.QueryResponse.Result"}}}},"insights_service.QueryResponse.Result":{"type":"object","properties":{"id":{"type":"string"},"alias":{"type":"string"},"dataSource":{"$ref":"#/definitions/insights_service.DataSource"},"matrix":{"$ref":"#/definitions/common.Matrix"},"error":{"type":"string"},"computeStats":{"$ref":"#/definitions/common.ComputeStats"}}},"metrics_service.GetMetricsResponse":{"type":"object","properties":{"metrics":{"type":"array","items":{"type":"object","$ref":"#/definitions/metrics_service.MetricInfo"}}}},"metrics_service.MetricInfo":{"type":"object","properties":{"name":{"type":"string"},"displayName":{"type":"string"},"projectId":{"type":"string"},"contractName":{"type":"array","items":{"type":"string"}},"contractAddress":{"type":"array","items":{"type":"string"}},"chainId":{"type":"array","items":{"type":"string"}},"labels":{"type":"object","additionalProperties":{"$ref":"#/definitions/metrics_service.MetricInfo.LabelValues"}},"metadata":{"$ref":"#/definitions/metrics_service.MetricMetadata"}}},"metrics_service.MetricInfo.LabelValues":{"type":"object","properties":{"values":{"type":"array","items":{"type":"string"}}}},"metrics_service.MetricMetadata":{"type":"object","properties":{"type":{"type":"string"},"unit":{"type":"string"},"help":{"type":"string"},"lastSeen":{"type":"string","format":"int64"}}},"metrics_service.MetricsQueryResponse":{"type":"object","properties":{"results":{"type":"array","items":{"type":"object","$ref":"#/definitions/metrics_service.MetricsQueryResponse.Result"}}}},"metrics_service.MetricsQueryResponse.Matrix":{"type":"object","properties":{"samples":{"type":"array","items":{"type":"object","$ref":"#/definitions/metrics_service.MetricsQueryResponse.Sample"}},"totalSamples":{"type":"integer","format":"int32"}}},"metrics_service.MetricsQueryResponse.Metric":{"type":"object","properties":{"name":{"type":"string"},"labels":{"type":"object","additionalProperties":{"type":"string"}},"displayName":{"type":"string","title":"string project_id = 3;"}}},"metrics_service.MetricsQueryResponse.Result":{"type":"object","properties":{"matrix":{"$ref":"#/definitions/metrics_service.MetricsQueryResponse.Matrix","title":"TODO(chen@sentio.xyz): should use common.Matrix in the future"},"error":{"type":"string"},"alias":{"type":"string"},"id":{"type":"string"},"computeStats":{"$ref":"#/definitions/common.ComputeStats"}}},"metrics_service.MetricsQueryResponse.Sample":{"type":"object","properties":{"metric":{"$ref":"#/definitions/metrics_service.MetricsQueryResponse.Metric"},"values":{"type":"array","items":{"type":"object","$ref":"#/definitions/metrics_service.MetricsQueryResponse.Value"}}}},"metrics_service.MetricsQueryResponse.Value":{"type":"object","properties":{"timestamp":{"type":"string","format":"int64"},"value":{"type":"number","format":"double"}}},"metrics_service.ObservabilityService.QueryBody":{"type":"object","properties":{"queries":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.Query"}},"formulas":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.Formula"}},"time":{"type":"string"},"samplesLimit":{"type":"integer","format":"int32"},"version":{"type":"integer","format":"int32"},"timezone":{"type":"string"},"samplesOffset":{"type":"integer","format":"int32"}}},"metrics_service.ObservabilityService.QueryRangeBody":{"type":"object","example":{"queries":[{"query":"mint_sum","alias":"Mint (24 hours)","id":"a","labelSelector":{},"aggregate":null,"functions":[{"name":"rollup_sum","arguments":[{"durationValue":{"value":1,"unit":"d"}}]}],"disabled":false},{"query":"burn_sum","alias":"Burn (24 hours)","id":"b","labelSelector":{},"aggregate":null,"functions":[{"name":"rollup_sum","arguments":[{"durationValue":{"value":1,"unit":"d"}}]}],"disabled":false}],"formulas":[],"timeRange":{"start":"now-30d","end":"now","step":3600,"timezone":"America/Los_Angeles"},"samplesLimit":20},"properties":{"queries":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.Query"}},"formulas":{"type":"array","items":{"type":"object","$ref":"#/definitions/common.Formula"}},"samplesLimit":{"type":"integer","format":"int32"},"timeRange":{"$ref":"#/definitions/common.TimeRangeLite"},"projectId":{"type":"string"},"version":{"type":"integer","format":"int32"},"samplesOffset":{"type":"integer","format":"int32"}},"required":["timeRange"]},"metrics_service.QueryValueResponse":{"type":"object","properties":{"results":{"type":"array","items":{"type":"object","$ref":"#/definitions/metrics_service.QueryValueResponse.Result"}}}},"metrics_service.QueryValueResponse.Result":{"type":"object","properties":{"sample":{"type":"array","items":{"type":"object","$ref":"#/definitions/metrics_service.MetricsQueryResponse.Sample"}},"error":{"type":"string"},"alias":{"type":"string"},"id":{"type":"string"}}},"price_service.AddCoinByGeckoRequest":{"type":"object","properties":{"coingeckoId":{"type":"string"}}},"price_service.AddCoinByGeckoResponse":{"type":"object","properties":{"status":{"$ref":"#/definitions/price_service.AddCoinByGeckoResponse.Status"},"message":{"type":"string"},"currentPrice":{"type":"number","format":"double"},"timestamp":{"type":"string","format":"date-time"},"symbol":{"type":"string"},"coins":{"type":"array","items":{"type":"object","$ref":"#/definitions/price_service.CoinID"}}}},"price_service.AddCoinByGeckoResponse.Status":{"type":"string","enum":["OK","ALREADY_EXISTS","MISMATCH_WITH_EXISTING","GECKO_NOT_FOUND","GECKO_RETURN_NON_SUPPORTED_CHAIN","GECKO_HAS_DUPLICATE_SYMBOL"],"default":"OK"},"price_service.BatchGetPricesRequest":{"type":"object","properties":{"timestamps":{"type":"array","items":{"type":"string","format":"date-time"}},"coinIds":{"type":"array","items":{"type":"object","$ref":"#/definitions/price_service.CoinID"}}},"title":"GetPricesRequest is the request for GetPrices.\nreturn every price on every given timestamp (if exact exists) for the given coin"},"price_service.BatchGetPricesResponse":{"type":"object","properties":{"prices":{"type":"array","items":{"type":"object","$ref":"#/definitions/price_service.BatchGetPricesResponse.CoinPrice"}}}},"price_service.BatchGetPricesResponse.CoinPrice":{"type":"object","properties":{"coinId":{"$ref":"#/definitions/price_service.CoinID"},"price":{"$ref":"#/definitions/price_service.BatchGetPricesResponse.CoinPrice.Price"},"error":{"type":"string"}}},"price_service.BatchGetPricesResponse.CoinPrice.Price":{"type":"object","properties":{"results":{"type":"array","items":{"type":"object","$ref":"#/definitions/price_service.GetPriceResponse"}}}},"price_service.CheckLatestPriceResponse":{"type":"object","properties":{"prices":{"type":"array","items":{"type":"object","$ref":"#/definitions/price_service.CheckLatestPriceResponse.CoinPrice"}},"latestPrice":{"$ref":"#/definitions/price_service.CheckLatestPriceResponse.CoinPrice"}}},"price_service.CheckLatestPriceResponse.CoinPrice":{"type":"object","properties":{"coinId":{"$ref":"#/definitions/price_service.CoinID"},"price":{"type":"number","format":"double"},"timestamp":{"type":"string","format":"date-time"}}},"price_service.CoinID":{"type":"object","properties":{"symbol":{"type":"string"},"address":{"$ref":"#/definitions/price_service.CoinID.AddressIdentifier"}},"description":"The identifier of a coin."},"price_service.CoinID.AddressIdentifier":{"type":"object","properties":{"address":{"type":"string"},"chain":{"type":"string"}},"description":"The coin can be defined as a symbol, e.g. BTC, ETH, etc, or an address + chain.\nThe format of the chain is consistent with the Sentio internal representation."},"price_service.GetPriceResponse":{"type":"object","properties":{"price":{"type":"number","format":"double","description":"Price in USD."},"timestamp":{"type":"string","format":"date-time","description":"The actual timestamp of the price returned."}},"description":"GetPriceResponse is the response for GetPrice."},"price_service.ListCoinsResponse":{"type":"object","properties":{"coins":{"type":"array","items":{"type":"object","$ref":"#/definitions/price_service.CoinID"}},"coinAddressesInChain":{"type":"object","additionalProperties":{"$ref":"#/definitions/price_service.CoinID"},"title":"map from symbol to address, only returned when chain is set"}}},"processor_service.ChainState":{"type":"object","properties":{"chainId":{"type":"string","description":"The chain id."},"processedBlockNumber":{"type":"string","format":"int64","description":"The most recently processed block number and block hash."},"processedTimestampMicros":{"type":"string","format":"int64"},"processedBlockHash":{"type":"string"},"processedVersion":{"type":"integer","format":"int32","title":"Processed version"},"status":{"$ref":"#/definitions/processor_service.ChainState.Status"},"updatedAt":{"type":"string","format":"date-time"},"templates":{"type":"string","description":"The serialized templates info."},"indexerState":{"type":"string","description":"The serialized indexer state."},"meterState":{"type":"string","description":"The serialized meter state."},"handlerStat":{"type":"string","title":"The serialized handler stat"},"initialStartBlockNumber":{"type":"string","format":"int64"},"estimatedLatestBlockNumber":{"type":"string","format":"int64"},"trackers":{"type":"string","description":"To be deprecated after the migration."}}},"processor_service.ChainState.Status":{"type":"object","properties":{"state":{"$ref":"#/definitions/processor_service.ChainState.Status.State"},"errorRecord":{"$ref":"#/definitions/common.ErrorRecord","description":"This field is set if state is ERROR."}},"title":"Status of this chain indexer"},"processor_service.ChainState.Status.State":{"type":"string","enum":["UNKNOWN","ERROR","CATCHING_UP","PROCESSING_LATEST","QUEUING"],"default":"UNKNOWN"},"processor_service.DownloadProcessorResponse":{"type":"object","properties":{"url":{"type":"string"}}},"processor_service.GetProcessorResponse":{"type":"object","properties":{"processor":{"$ref":"#/definitions/processor_service.Processor"}}},"processor_service.GetProcessorStatusRequestV2.VersionSelector":{"type":"string","enum":["ACTIVE","PENDING","ALL"],"default":"ACTIVE","title":"- ACTIVE: Only active version\n - PENDING: Only pending versions\n - ALL: All version"},"processor_service.GetProcessorStatusResponse":{"type":"object","properties":{"processors":{"type":"array","items":{"type":"object","$ref":"#/definitions/processor_service.GetProcessorStatusResponse.ProcessorEx"}}}},"processor_service.GetProcessorStatusResponse.ProcessorEx":{"type":"object","properties":{"states":{"type":"array","items":{"type":"object","$ref":"#/definitions/processor_service.ChainState"}},"processorId":{"type":"string"},"codeHash":{"type":"string"},"commitSha":{"type":"string"},"uploadedBy":{"$ref":"#/definitions/common.UserInfo"},"uploadedAt":{"type":"string","format":"date-time"},"processorStatus":{"$ref":"#/definitions/processor_service.GetProcessorStatusResponse.ProcessorStatus","description":"The processor status."},"version":{"type":"integer","format":"int32"},"sdkVersion":{"type":"string"},"gitUrl":{"type":"string"},"versionState":{"$ref":"#/definitions/processor_service.ProcessorVersionState"},"versionLabel":{"type":"string"},"ipfsHash":{"type":"string"},"debugFork":{"type":"string"},"cliVersion":{"type":"string"},"referenceProjectId":{"type":"string"},"warnings":{"type":"array","items":{"type":"string"}},"pause":{"type":"boolean"},"networkOverrides":{"type":"array","items":{"type":"object","$ref":"#/definitions/processor_service.NetworkOverride"}}}},"processor_service.GetProcessorStatusResponse.ProcessorStatus":{"type":"object","properties":{"state":{"$ref":"#/definitions/processor_service.GetProcessorStatusResponse.ProcessorStatus.State"},"errorRecord":{"$ref":"#/definitions/common.ErrorRecord","description":"This field is set if state is ERROR."}}},"processor_service.GetProcessorStatusResponse.ProcessorStatus.State":{"type":"string","enum":["UNKNOWN","ERROR","STARTING","PROCESSING"],"default":"UNKNOWN"},"processor_service.GetProcessorWithProjectResponse":{"type":"object","properties":{"processor":{"$ref":"#/definitions/processor_service.Processor"},"project":{"$ref":"#/definitions/common.Project"}}},"processor_service.GetProcessorsResponse":{"type":"object","properties":{"processors":{"type":"array","items":{"type":"object","$ref":"#/definitions/processor_service.Processor"}}}},"processor_service.NetworkOverride":{"type":"object","properties":{"chain":{"type":"string"},"host":{"type":"string"}}},"processor_service.Processor":{"type":"object","properties":{"processorId":{"type":"string","description":"The unique processor id."},"projectId":{"type":"string","description":"The project this processor belongs to."},"version":{"type":"integer","format":"int32","description":"The version of the code_url below."},"sdkVersion":{"type":"string","title":"The SDK version used when uploaded"},"codeUrl":{"type":"string","description":"Call should be able to fetch the code to run from code_url."},"chainStates":{"type":"array","items":{"type":"object","$ref":"#/definitions/processor_service.ChainState"},"title":"Each maintains a state of a processor w.r.t a given chain.\nThis is a one-to-many mapping (processor to processor-chain)"},"contractId":{"type":"string","description":"If non empty, this is the contract associated with the processor."},"versionState":{"$ref":"#/definitions/processor_service.ProcessorVersionState"},"debug":{"type":"boolean","title":"If enabled, driver job's log level will be set to debug"},"timescaleShardingIndex":{"type":"integer","format":"int32","description":"The timescale-db sharding index of this processor."},"versionLabel":{"type":"string","title":"The version label of the subgraph\nused for subgraph project"},"ipfsHash":{"type":"string","title":"The hash (object CID) of the subgraph description file in ipfs node\nused for subgraph project"},"debugFork":{"type":"string","title":"ID of a remote subgraph whose store will be GraphQL queried\nused for subgraph project"},"createdAt":{"type":"string","format":"int64","description":"The created timestamp of the processor."},"clickhouseShardingIndex":{"type":"integer","format":"int32","description":"The clickhouse sharding index of this processor."},"k8sClusterId":{"type":"integer","format":"int32","title":"The k8s cluster id of this processor"},"enableMaterializedView":{"type":"boolean"},"referenceProjectId":{"type":"string"},"networkOverrides":{"type":"array","items":{"type":"object","$ref":"#/definitions/processor_service.NetworkOverride"}},"eventlogMigrateStatus":{"type":"integer","format":"int32"},"eventlogVersion":{"type":"integer","format":"int32"},"pause":{"type":"boolean"},"entitySchemaVersion":{"type":"integer","format":"int32"}},"description":"This represents a processor which backend works on."},"processor_service.ProcessorVersionState":{"type":"string","enum":["UNKNOWN","PENDING","ACTIVE","OBSOLETE"],"default":"UNKNOWN"},"processor_service.UpdateChainProcessorStatusResponse":{"type":"object"},"solidity_service.BaseChainConfig":{"type":"object","properties":{"endpoint":{"type":"string"},"debugEndpoint":{"type":"string"},"sourceFetcherType":{"$ref":"#/definitions/solidity_service.SourceFetcherType"},"sourceFetcherEndpoint":{"type":"string"},"sourceFetcherTimeout":{"type":"string","format":"int64"},"sourceFetcherApiKeys":{"type":"array","items":{"type":"string"}},"oklinkChainShortName":{"type":"string","title":"Required if source_fetcher_type is OKLINK"}}},"solidity_service.BlockOverrides":{"type":"object","properties":{"blockNumber":{"type":"string"},"timestamp":{"type":"string"},"gasLimit":{"type":"string"},"difficulty":{"type":"string"},"baseFee":{"type":"string"},"blockHash":{"type":"object","additionalProperties":{"type":"string"}}}},"solidity_service.BlockPrice":{"type":"object","properties":{"blockNumber":{"type":"integer","format":"int32"},"estimatedTransactionCount":{"type":"integer","format":"int32"},"baseFeePerGas":{"type":"number","format":"double"},"blobBaseFeePerGas":{"type":"number","format":"double"},"estimatedPrices":{"type":"array","items":{"type":"object","$ref":"#/definitions/solidity_service.EstimatedPrice"}}}},"solidity_service.ChainIdentifier":{"type":"object","properties":{"chainId":{"type":"string"},"forkId":{"type":"string"}}},"solidity_service.CompileSourceInternalResponse":{"type":"object","properties":{"failure":{"$ref":"#/definitions/solidity_service.Failure"}}},"solidity_service.CompilerOptions":{"type":"object","properties":{"language":{"type":"string"},"version":{"type":"string"},"settings":{"$ref":"#/definitions/solidity_service.Settings"},"specializations":{"$ref":"#/definitions/solidity_service.Specializations"}}},"solidity_service.ContractKeyInfo":{"type":"object","properties":{"preprocessKey":{"type":"string","title":"always set, even if not preprocessed, pass the key to debugger to store"},"compilationKey":{"type":"string","title":"If it's already preprocessed, compilation key will be empty"}}},"solidity_service.CreateForkResponse":{"type":"object","properties":{"fork":{"$ref":"#/definitions/solidity_service.Fork"}}},"solidity_service.DecodeStateDiffResponse":{"type":"object","properties":{"result":{"type":"string"}}},"solidity_service.EstimatedPrice":{"type":"object","properties":{"confidence":{"type":"integer","format":"int32"},"price":{"type":"number","format":"double"},"maxPriorityFeePerGas":{"type":"number","format":"double"},"maxFeePerGas":{"type":"number","format":"double"}}},"solidity_service.ExternalFork":{"type":"object","properties":{"chainConfig":{"$ref":"#/definitions/solidity_service.BaseChainConfig"},"nodeAdditionalHeaders":{"type":"string","title":"Additional headers for node requests"}}},"solidity_service.Failure":{"type":"object","properties":{"error":{"type":"string"},"reason":{"type":"string"}}},"solidity_service.FetchAndCompileInternalResponse":{"type":"object","properties":{"compiledAddresses":{"type":"array","items":{"type":"string"}},"failures":{"type":"object","additionalProperties":{"$ref":"#/definitions/solidity_service.Failure"}}}},"solidity_service.Fork":{"type":"object","properties":{"id":{"type":"string"},"type":{"$ref":"#/definitions/solidity_service.ForkType","title":"Currently only external fork is supported"},"name":{"type":"string"},"extra":{"type":"string"},"managedFork":{"$ref":"#/definitions/solidity_service.ManagedFork","title":"presents if type = managed_fork"},"externalFork":{"$ref":"#/definitions/solidity_service.ExternalFork","title":"presents if type = external_fork"},"createTime":{"type":"string","format":"date-time"},"updateTime":{"type":"string","format":"date-time"}}},"solidity_service.ForkService.CreateForkBody":{"type":"object","properties":{"fork":{"$ref":"#/definitions/solidity_service.Fork"}},"required":["fork"]},"solidity_service.ForkService.UpdateForkBody":{"type":"object","properties":{"fork":{"$ref":"#/definitions/solidity_service.Fork"}},"required":["fork"]},"solidity_service.ForkType":{"type":"string","enum":["MANAGED","EXTERNAL"],"default":"MANAGED"},"solidity_service.GetEstimatedGasPriceResponse":{"type":"object","properties":{"system":{"type":"string"},"network":{"type":"string"},"unit":{"type":"string"},"maxPrice":{"type":"number","format":"double"},"currentBlockNumber":{"type":"integer","format":"int32"},"msSinceLastBlock":{"type":"integer","format":"int32"},"blockPrices":{"type":"array","items":{"type":"object","$ref":"#/definitions/solidity_service.BlockPrice"}}}},"solidity_service.GetForkInfoResponse":{"type":"object","properties":{"currentBlockNumber":{"type":"string"},"currentBlockTimestamp":{"type":"string","format":"uint64"},"currentBlockHash":{"type":"string"},"hardFork":{"type":"string"},"transactionOrder":{"type":"string"},"environment":{"$ref":"#/definitions/solidity_service.NodeEnvironment"},"forkConfig":{"$ref":"#/definitions/solidity_service.NodeForkConfig"}}},"solidity_service.GetForkResponse":{"type":"object","properties":{"fork":{"$ref":"#/definitions/solidity_service.Fork"}}},"solidity_service.GetSimulationBundleResponse":{"type":"object","properties":{"simulations":{"type":"array","items":{"type":"object","$ref":"#/definitions/solidity_service.Simulation"}},"error":{"type":"string"}}},"solidity_service.GetSimulationResponse":{"type":"object","properties":{"simulation":{"$ref":"#/definitions/solidity_service.Simulation"}}},"solidity_service.GetSimulationsResponse":{"type":"object","properties":{"simulations":{"type":"array","items":{"type":"object","$ref":"#/definitions/solidity_service.Simulation"}},"count":{"type":"string","format":"int64"},"page":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"}}},"solidity_service.GetStorageSummaryInternalResponse":{"type":"object","properties":{"results":{"type":"array","items":{"type":"object","$ref":"#/definitions/solidity_service.StorageSummaryResult"}}}},"solidity_service.GetTraceCallInternalRequest.Bundle":{"type":"object","properties":{"transactions":{"type":"array","items":{"type":"object"}},"blockOverride":{"$ref":"#/definitions/solidity_service.BlockOverrides"}}},"solidity_service.GetTraceCallInternalRequest.StateContext":{"type":"object","properties":{"blockNumber":{"type":"string"},"transactionIndex":{"type":"integer","format":"int32"}}},"solidity_service.GetTraceCallInternalResponse":{"type":"object","properties":{"result":{"type":"array","items":{"type":"array","items":{"type":"object"}}},"outputs":{"type":"array","items":{"type":"array","items":{"type":"object"}}},"error":{"type":"string"}}},"solidity_service.GetTraceTransactionInternalResponse":{"type":"object","properties":{"result":{"type":"string"}}},"solidity_service.ListForksResponse":{"type":"object","properties":{"forks":{"type":"array","items":{"type":"object","$ref":"#/definitions/solidity_service.Fork"}}}},"solidity_service.ManagedFork":{"type":"object","properties":{"chainSpec":{"$ref":"#/definitions/solidity_service.ChainIdentifier"},"rpcEndpoint":{"type":"string"},"parentBlockNumber":{"type":"integer","format":"int32"}}},"solidity_service.Metadata":{"type":"object","properties":{"useLiteralContent":{"type":"boolean"},"bytecodeHash":{"type":"string"},"appendCBOR":{"type":"boolean"}}},"solidity_service.NodeEnvironment":{"type":"object","properties":{"chainId":{"type":"string","format":"uint64"},"baseFee":{"type":"string"},"gasLimit":{"type":"string"},"gasPrice":{"type":"string"}}},"solidity_service.NodeForkConfig":{"type":"object","properties":{"forkUrl":{"type":"string"},"forkBlockNumber":{"type":"string","format":"uint64"},"forkRetryBackoff":{"type":"string","format":"uint64"}}},"solidity_service.Optimizer":{"type":"object","properties":{"enabled":{"type":"boolean"},"runs":{"type":"integer","format":"int64"},"details":{"$ref":"#/definitions/solidity_service.Optimizer.Details"}},"title":"partial"},"solidity_service.Optimizer.Details":{"type":"object","properties":{"peephole":{"type":"boolean"},"jumpdestRemover":{"type":"boolean"},"yul":{"type":"boolean"},"yulDetails":{"$ref":"#/definitions/solidity_serv
[...]
